@import url("~leaflet/dist/leaflet.css");

body{
 background-color: aliceblue;
}

.leaflet-container{
    width: 70%;
    height: 70vh;
    padding: 20px;
    border: 10px solid rgb(139, 148, 110);
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;;
}
.leaflet-routing-container{
    display: none;
}


