@import url("~leaflet/dist/leaflet.css");

body{
 background-color: aliceblue;
}

.leaflet-container{
    width: 50%;
    height: 50vh;
    padding: 20px;
    border: 20px solid black;
    margin-top: 20px;
    margin-left: 20px;
}