.Total{
    margin-top:50px;
    margin-left:15%;
    margin-bottom:20px;
    width: 40%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0 10px 25px 0 rgba(0,0,0,.2);
}

p{
    font-style: italic;
}

ul {
    margin: 0;
    padding: 0;
  }


  div>h4{
    display: inline;
  }

   .submit {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  .submit:hover {
    background-color: #45a049;
  }
  